:root {
    --primary-color: #0F519B;
    --secondary-color: #EF343F;
    --accent1-color: #0c3142;
    --accent2-color: #92B9D6;
    --heading-font: 'Merriweather', serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--primary-color);
    color: var(--accent2-color); 
    height: 90px;
}

 header img {
     max-width: 70px;
     height: auto;
     margin: 10px;
     border-radius: 5px;
 }


header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    padding-left: 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

a > .icon {
    width: 30px;
    margin-left: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article {
    background-color: var(--accent2-color);
    position: absolute;
    top: 320px;
    text-align: center;
    color: #000;
}

.hero > h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff; /* white text , and to ensure that there is enough space */
    font-weight: bolder;
}

.hero article img {
    float: right;
    width: 125px;
}


.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.navigator li {
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
}

header > div {
    text-align: center;
}

.section_history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 0;
}

.center {
    text-align: center;    
}

.center img {
    width: 180px;
    height: auto;
}

.center > h3 {
    margin-bottom: 5px;
}

.horizontal-alignment {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     margin: 14px;
}

.horizontal-alignment img {
    width: 130px;
    height: auto;
}

li {
    list-style-type: none;
}


footer > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

footer p {
    align-items: center;
    align-content: center;
    margin-right: 100px;
}

footer > a  {
    margin-bottom: 4px;
    text-decoration: none;
}




/*   The section for the added form and other information */

figcaption {
    text-align: center;
    margin-top: 6px;
}

.heading-center {
     text-align: center;
     margin: 30px 0px 50px 0px;
     font-size: 30px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}

.contact-info{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    margin: 20px 0px 50px 0px;
}

.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.profile-grid img {
     width: 250px;
     height: auto;
}

form {
 
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
   width: 22px;
   height: 22px;
   vertical-align: bottom; 
} 

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: auto;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}



.column2 {
    grid-template-columns: 1fr 2fr;
}

.contact-form h3 {
    color: navy;
}

iframe {
    width: 100%;
     height: 400px;
}

/* The home page main style component */
.section-1 {
    display: grid;
    grid-template-rows: auto;
}

.section-1 h1 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 5px;
}


.section-1-heading {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: .2em;
}

.section-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: .4em;
}
.section-2  img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.newsletter {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 10px;
    padding: 20px 0px;
}

.trips-us-button {
     margin: 1rem;
    background-color: rgb(163, 41, 61);
    color: #fff;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    text-decoration: none;
    width: 150px;
    align-self: center;
}
.trips-us-button:hover {
    background-color: #5721d6;
}




/* The Trips styling main component section */

.trip-box {
    border: 1px solid grey;
    padding: 8px;
    margin: 6px;
}

.contact-us-button {
     margin: 1rem;
    background-color: rgb(55, 55, 131);
    color: #fff;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    text-decoration: none;
    width: 150px;
    align-self: center;
}
.contact-us-button:hover {
    background-color: #20774c;
}

.contact-button{
    margin-bottom: 20px;
    text-align: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td img {
    width: 100px;
    height: 90px;
    text-align: center;
}

.line-top {
     border-top: 1px solid grey;
    margin: 10px;
    padding: 20px 0px; 
}

.line-bottom {
    border-bottom: 1px solid grey;
    margin: 10px;
    padding: 20px 0px; 
}

.section-1 h2 {
    margin-bottom: 20px;
}