:root {
    --primary-color: #0F519B;
    --secondary-color: #EF343F;
    --accent1-color: #0c3142;
    --accent2-color: #92B9D6;
    --heading-font: 'Merriweather', serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color); 
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    padding-left: 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article {
    background-color: var(--accent2-color);
    position: absolute;
    top: 320px;
    text-align: center;
    color: #000;
}

.hero > h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff; /* white text , and to ensure that there is enough space */
    font-weight: bolder;
}

.hero article img {
    float: right;
    width: 125px;
}

header img {
    width: 150px;
    height: auto;
}

footer {
    text-align: center;
}